@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-4">
            <h2 class="fw-bold">Înregistrează-te în EVENTS!</h2>
            <p class="text-muted">Creează un cont pentru a începe organizarea evenimentelor tale.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" style="border-radius: 10px;" placeholder="Email" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" style="border-radius: 10px;" placeholder="Parolă" />
                    <label asp-for="Input.Password">Parolă</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" style="border-radius: 10px;" placeholder="Confirmă parola" />
                    <label asp-for="Input.ConfirmPassword">Confirmă parola</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button id="registerSubmit" type="submit" class="btn btn-outline-dark btn-add-event w-100 rounded-pill">Register</button>
            </form>

            <div class="text-center mt-3">
                <p>Ai deja un cont? <a href="/Identity/Account/Login" style="color: #2c2c2c">Autentifică-te</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
